%h1 Seasons

%table.table.table-striped
  %thead
    %tr
      %th
        Season
      %th
        Status
      %th
        Locations Completed
      %th
        Jobs Completed
      %th
        Avg. Pull

  %tbody
    -@seasons.each do |season|
      %tr
        %td
          =link_to "#{season.name} #{season.year}", season_path(season)
        %td
          In-progress
        %td
          23
        %td
          11
        %td
          4/5
