%h1.table-stats #{@season.name} #{@season.year}

%table.table.table-striped
  %thead
    %tr
      %th
        Bee Yard
      %th
        Hives
      %th
        Supers
      %th
        Dead Hives
      %th
        Forage
      %th
        Jobs
  %tbody
    -@season.season_locations.each do |sl|
      %tr
        %td
          =sl.location.name
        %td
          =sl.num_hives
        %td
          =sl.num_supers
        %td
          =sl.num_dead
        %td
          -sl.location.forages.each do |forage|
            =forage.forage_type
        %td
          -sl.location.jobs.each do |job|
            =job.job_name
